/* ---------------------------------------------- *\

  Partial: base

  Here you place the base defaults to any project

\* ---------------------------------------------- */

	*, *:before, *:after { 
	  	box-sizing: border-box;
	}

	html { 
		font-size: 100%; 
		text-size-adjust: 100%; 
	}
	
	body {
		color: $s-Color-black;
		font-family: $s-Font-family;
		font-size: $s-Font-size+px;
		line-height: $s-Font-lineheight;
		margin: 0;	
	}

	html, body{ height: 100%; min-height: 100%; }

	small {
		font-size: 0.85em;
	}
	
	ul li {
		list-style: none;
	}
	
	ol li {
		list-style: none;
	}
	
	img, object, embed {
		height: auto;
		max-width: 100%;
	}	
	
	blockquote {
		color: $s-Color-white;
		font-size: 1.1em;
		font-style: italic;
		margin: 0 0 1.250em 1.250em;
		padding: 0.625em 1.250em 1.250em;
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	
/*********************************************
	- 2.0 -  LINKS
*********************************************/

	/* - 2.1. - BASE LINK STYLES
	------------------------------------------ */

	a {
		color: $s-Color_link;
		cursor: pointer;
		text-decoration:none;
		&:visited {

		}
		&:hover {
			color: $s-Color_link-hover;
		}
		&:active {
			
		}
		&:focus {
			color: $s-Color_link-focus;
		}
		/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
		&:focus,
		&:active {
			outline: none;
		}
	}
	
	
	/* - 2.2. - HEADER LINKS 
	------------------------------------------ */
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
	.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
		color: $s-Color_link;
	}


/*********************************************
	- 3.0 -  Helpers
*********************************************/

	.hide {
		display: none;
	}
	
	.center-align {
		text-align: center;
	}