/* ---------------------------------------------- *\

  Partial: buttons

  This is a work-in-progress. Please deploy your own method or use my exaple below. 

  Namespace structure
  [interaction][-Button][-Variant]

\* ---------------------------------------------- */

.int-Button{
	display: inline-block;

	&_Black{
		// text, background, border
		@include button-variant($s-Color-black, transparent, $s-Color-black);

		&:hover{
			@include button-variant($s-Color-white, $s-Color-base, $s-Color-base);
		}
	}
}


.int-Button{

	&_Small{
		@include button-size(em(8), ms(1), em(16), 1, 0);
	}

	&_Med{
		@include button-size(em(14), ms(10), em(16), 1.2, 0);
	}

  	&_Large{
		@include button-size(em(16), ms(16), em(16), 1.2, 0);
	}
}