/* ---------------------------------------------- *\

  Partial: typography

  I set all typographic styles here. First we list our variables such as fonts (maybe we're using some @font-face) and
  additionally and maps we might want to use. Then we specificy the typographic scales we want.

\* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6{
	

	&.type-Size{

		&-small{}
		&-med{}
		&-large{}
	}
}

h1{

}

h2{

}

h3{

}

h4{

}

h5{

}

h6{

}

p{
	margin-bottom: ms(2);

	&:last-child{
		margin-bottom: 0;
	}
}

strong{
	// change if using @fontface
	font-weight: bold;
}

em{
	// change if using @fontface
	font-style: italic;
}