// sans-serif
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucidagrande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$verdana: Verdana, Geneva, sans-serif;

// serif
$baskerville: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$lucidabright: "Lucida Bright", Georgia, serif;
$tnr: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

// monospaced
$consolas: Consolas, monaco, monospace;
$courier: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$monaco: Monaco, Consolas, "Lucida Console", monospace;


// User defined ------------------------------------------ //

// overwrite defaults for modular scale
// http://www.modularscale.com/
$ms-base: 1em;
$ms-ratio: 1.2;

// Base font attributes ---- //
$s-Font-family: ;
$s-Font-size: 16;
$s-Font-lineheight: 1.6;

// Base colours ---- s represents 'Site' //
$s-Color-white: #FFFFFF;
$s-Color-black: #2f2f2f;
$s-Color-base: #61459b;
$s-Color-comp: #326e50;
$s-Color-grey: #CCCCCC;

//links
$s-Color_link: blue;
$s-Color_link-focus: green;
$s-Color_link-hover: purple;